{% extends "base.html.twig" %}

{% block title %}Swim tracker{% endblock %}

{% block stylesheets %}
    {% include 'layout.styles.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'layout.scripts.html.twig' %}

{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Swim tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') in ["home"] %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}">Főoldal <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') in ["fos_user_profile_show","fos_user_profile_edit"] %}active{% endif %}">
                    <a class="nav-link"
                       href="{{ path('fos_user_profile_show') }}">
                        <i class="far fa-user"></i>
                        Profilom
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') in ["list_swims","show_swim","add_swim"] %}active{% endif %}">
                    <a class="nav-link"
                       href="{{ path('list_swims') }}">
                        <i class="fas fa-swimmer"></i>
                        Úszások
                    </a>
                </li>
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        Dropdown#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">Action</a>#}
{#                        <a class="dropdown-item" href="#">Another action</a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#">Disabled</a>#}
{#                </li>#}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{{ "layout.logout"|trans({},"FOSUserBundle") }}</a>
                </li>
            </ul>
{#            <form class="form-inline my-2 my-lg-0">#}
{#                <a href="{{ path('fos_user_security_logout') }}"></a>#}
{#                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#            </form>#}
        </div>
    </nav>
{#    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">#}
{#        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">Swim tracker</a>#}
{#        <ul class="navbar-nav px-3">#}
{#            <li class="nav-item text-nowrap">#}
{#                <a class="nav-link"#}
{#                   href="{{ path('fos_user_security_logout') }}">{{ "layout.logout"|trans({},"FOSUserBundle") }}</a>#}
{#            </li>#}
{#        </ul>#}
{#    </nav>#}
    <div class="container-lg">
        {% block content %}
        {% endblock %}
{#        <div class="row">#}
{#            <nav class="col-md-2 d-none d-md-block bg-light sidebar">#}
{#                <div class="sidebar-sticky">#}
{#                    <ul class="nav flex-column">#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link {% if app.request.attributes.get('_route') in ["fos_user_profile_show","fos_user_profile_edit"] %}active{% endif %}"#}
{#                               href="{{ path('fos_user_profile_show') }}">#}
{#                                <i class="far fa-user"></i>#}
{#                                Profilom#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link {% if app.request.attributes.get('_route') in ["list_swims","show_swim","add_swim"] %}active{% endif %}"#}
{#                               href="{{ path('list_swims') }}">#}
{#                                <i class="fas fa-swimmer"></i>#}
{#                                Úszások#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </nav>#}
{#            <main role="main" class="col-md-8 ml-sm-auto col-lg-10 px-4">#}
{#                {% block content %}#}
{#                {% endblock %}#}
{#            </main>#}
{#        </div>#}

    </div>

{% endblock %}