{% extends "clean_layout.html.twig" %}

{% block body %}
    {{ form_start(form,{attr:{class:"form-signin"} }) }}
    {{ form_row(form.email,{label: "Email cím"}) }}
    {{ form_row(form.username,{label: "Felhasználó név"}) }}
    {{ form_row(form.weight,{label: "Súly"}) }}
    {{ form_row(form.height,{label: "Magasság"}) }}
    {{ form_row(form.birthDate,{label: "Születésnap", type:"text", attr:{class: "dateMask"}}) }}
    {{ form_row(form.plainPassword.first,{label: "Jelszó"}) }}
    {{ form_row(form.plainPassword.second,{label: "Jelszó mégegyszer"}) }}
    <button class="btn btn-primary">Regisztráció</button>
    {{ form_end(form) }}
{% endblock %}