{% extends "layout.html.twig" %}

{% form_theme form "form/layout.html.twig" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="far fa-user"></i>Profilom</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('fos_user_profile_show') }}">Vissza</a>
            </div>
        </div>
    </div>
    {{ form_start(form, { 'action': path('fos_user_profile_edit') }) }}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {{ form_row(form.username,{label: "Felhasználó név"}) }}
            {{ form_row(form.email,{label: "E-mail cím"}) }}
            {{ form_row(form.weight,{label: "Aktuális súly"}) }}
            {{ form_row(form.height,{label: "Aktuális magasság"}) }}
            {{ form_row(form.birthDate,{label: "Születésnap", attr:{class: "datetimepicker","data-toggle":"datetimepicker","data-target":".datetimepicker"}}) }}
            {{ form_row(form.current_password,{label: "Jelszó"}) }}
            <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans({},"FOSUserBundle") }}"/>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}